.element__like-container {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
}
